## Various settings
xcuserdata/
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Cocoapods

Pods

## Workspace

HTCMobileApp.xcworkspace

## Auto-generation files
R.generated.swift
